In [18]:
import os.path as op
import numpy as np
import io3d
import pandas as pd

In [19]:
DATA_FILE = r"H:\cases.xlsx"
output_path = io3d.datasets.join_path("patient_id.csv")

In [20]:
df = pd.read_excel(DATA_FILE)[["Simple Patient ID", "Study ID", "Serie"]]
df["Simple Patient ID"] = df["Simple Patient ID"]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 3 columns):
Simple Patient ID    64 non-null int64
Study ID             56 non-null object
Serie                23 non-null object
dtypes: int64(1), object(2)
memory usage: 1.6+ KB

In [21]:

df.to_csv(output_path, index=False)

In [22]:
pd.read_csv(output_path)

    Simple Patient ID    Study ID     Serie
0                   1    57172047   série 6
1                   2    59882081   série 6
2                   3    71402129  6. série
3                   4    64614052   série 4
4                   5    59498299   série 3
5                   6     8223185   série 7
6                   7    74795706   série 9
7                   8    77520289   série 6
8                   9          40   série 6
9                  10    78060807   série 6
10                 11    36477876   série 9
11                 12    44204675   série 6
12                 13    70854920   série 8
13                 14    76076759   série 6
14                 15    47699648   série 6
15                 16    74896795   série 9
16                 17    70923800   série 6
17                 18     8695353   série 5
18                 19    69636945   série 6
19                 20    65210441   série 4
20                 21    61096317   série 3
21                 22    48021519   série 6
22                 23    22825976       NaN
23                 23    23304056       NaN
24                 24    37927164         7
25                 24    38163732       NaN
26                 25    39215618       NaN
27                 25    39477569       NaN
28                 26    39762130       NaN
29                 26    40419006       NaN
..                ...         ...       ...
34                 29    71007740       NaN
35                 29    71161273       NaN
36                 30    46037607       NaN
37                 30    46987304       NaN
38                 31    56574000       NaN
39                 31    57295498       NaN
40                 32    K1597417       NaN
41                 32  LEUKOCYT,        NaN
42                 32    K1717302       NaN
43                 33    83144938       NaN
44                 33    76657370       NaN
45                 33    78012509       NaN
46                 34         NaN       NaN
47                 35         NaN       NaN
48                 36         NaN       NaN
49                 36    84202033       NaN
50                 37         NaN       NaN
51                 37    82743643       NaN
52                 38    83202612       NaN
53                 38    82464657       NaN
54                 39         NaN       NaN
55                 39         NaN       NaN
56                 39    85397469       NaN
57                 40    83515577       NaN
58                 41    80244265       NaN
59                 42         NaN       NaN
60                 43    86387727       NaN
61                 43    86386051       NaN
62                 44         NaN       NaN
63                 44    84723034       NaN

[64 rows x 3 columns]